* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  color: #111827;
  height: 100vh;
  background-image: linear-gradient(to right bottom, #eac7c7, #a0c3d2);
  position: relative;
}

.game {
  display: flex;
  flex-direction: column;

  padding: 2rem 6rem;
}

.choose {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1rem 4.8rem 4.8rem 4.8rem;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3rem;
}

.choises {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.choises img {
  display: inline-block;
  max-width: 13%;
  margin: 0;
  border-radius: 13px;
  background-color: #eae0da;
  box-shadow: 0 1.8px 4px #bbb3ae;
}

.choises img:hover {
  cursor: pointer;
  background-color: #a0c3d2;
  transform: scale(1.05);
  box-shadow: 0 1.8px 6px #716c69;
}

.result {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  height: 40vh;
}

.player {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  border-radius: 13px;
  box-shadow: 0 1.8px 4px #bbb3ae;
  background-color: #eae0da;
}

h2 {
  margin: 2rem 0;
  font-size: 4rem;
}

.player img {
  display: inline-block;
  max-width: 60%;
  margin: 0;
}

.table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-content: space-between;
  font-size: 3.6rem;
}

.score {
  align-self: center;
  padding: 6rem;
  border-radius: 13px;
}

.message {
  text-align: center;
}

.btn {
  background-color: #a0c3d2;
  padding: 0.8rem 2rem;
  font-size: 2rem;
  font-weight: 500;
  border: solid 2px #506269;
  border-radius: 5px;
  margin-bottom: 2rem;
  transition: all 0.3s;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.winner {
  background-color: #b3cfdb;
  box-shadow: 0 1.8px 6px #645f5d;
}
